{% extends 'base.html.twig' %}

{% block title %}Penalty{% endblock %}

{% block body %}
    <h1>Penalty</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ penalty.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ penalty.amount }}</td>
            </tr>
            <tr>
                <th>Cause</th>
                <td>{{ penalty.cause }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('penalty_index') }}">back to list</a>

    <a href="{{ path('penalty_edit', {'id': penalty.id}) }}">edit</a>

    {{ include('penalty/_delete_form.html.twig') }}
{% endblock %}
